.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.tasks {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.panel {
    display: block;
    align-items: center;
    gap: 20px;
}
.button {
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.tasksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }