.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding: 50px;
}
.tasks {
    width: 100%;
    display: grid;
    gap: 30px;
}
.panel {
    display: block;
    align-items: center;
    gap: 20px;
}

.button {
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
}

.Column {
    text-align: center;
    width: 700px;
    background-color: transparent;
    border-radius: 10px;
    border-color: white;
}

.Logo {
    max-width: 480px;
    width: 100%;
    margin: -300px 5px -50px 650px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header{
 padding: 50px;
 padding-bottom: 25px;
 display: flex;
 gap: 20px;
 height: 100%;
}
.description{

    width: 100%;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 30px;
    border: 1px solid white;
    color: white;
    padding: 20px;
}
.img{
    border-radius: 10px;
}